* {
    padding: 0px;
    margin: 0 auto;
}

#box {
    position: relative;
    float: left;
}

#praise_sort, #time_sort, #name {
    font-size: 14px;
    color: #444444;
}

#content {
    padding: 5px;
    /*border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;*/
    /*border-radius: 5px;*/
}


#account {
    margin-top: 5px;

}

/*.ajax_loader {*/
/*background: url("../image/spinner_squares_circle.gif") no-repeat center center transparent;*/
/*width: 100%;*/
/*height: 100%;*/
/*}*/

.ajax_loader {
    width: 43px;
    height: 11px;

    background: url("../image/ajax-loader_blue.gif");
}

h6 {
    margin-top: 5.5px;
    font-size: 13px;
    margin-left: 2px;
    color: white;
    font-family: 微软雅黑;
    font-weight: 100;
    float: left;
    margin-right: 4px;
}


#praise{
    margin: 0 auto;
    height: 25px;
    width: auto;
    background-color: #efefef;
}

.clsss {
    background-image: url("../image/toast_back.png");
    font-size: 12px;

}

/*弹框样式*/
.imgzoom_pack{
    width:100%;
    height:100%;
    position:fixed;
    left:0;
    top:0;
    background:#000;
    display:none;
    z-index: 100000;
}
.imgzoom_pack .imgzoom_x{
    color:#fff;
    height:30px;
    width:30px;
    line-height:30px;
    background: #000;
    text-align:center;
    position:absolute;
    right:5px;
    top:5px;
    z-index:10;
    cursor:pointer;
}

.imgzoom_pack .imgzoom_img{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    overflow:hidden;
}
.imgzoom_pack .imgzoom_img img{
    width:100%;
    position:absolute;
    top:50%;

}
